.searchBox {
  display: flex;
  align-items: center;
  background-color: #0f172a;
  border: 1px solid #334155;
  border-radius: 6px;
  padding: 0 10px;
  flex-grow: 1;
  max-width: 400px; /* 최대 너비는 Prompts.tsx 기준에 맞춤 */
}

.searchIcon {
  color: #64748b;
}

.searchBox input {
  background: none;
  border: none;
  outline: none;
  color: white;
  padding: 8px;
  font-size: 14px;
  width: 100%;
}